body {
  background-color: #88b8fc;
  font-family: 'Inconsolata';
  font-weight: bold;
}


.container {
  margin-top: 50px;
  // border: 2px solid white;
  border-radius: 20px;

}

.users {
  background-color: #f9f2e6;
  height: 550px;
    border-radius: 20px;
    width: 25%;
    margin-left: 20px;
    overflow: scroll;

}
.chatbox {
  background-color: #f9f2e6;
  min-height: 550px;
  border-radius: 20px;

    .chatfield {

      height: 500px;
        overflow: scroll;

    }

}

.hidden {
  display: none;
}

.textbox {

  padding:2px;

}

.generatedChat {
  margin-top: 50px;
}



.userid {
    text-align:center;
}
.userImg {
  img{
    max-width:100%;
    border-radius:10px;
  }
}

.message{
  width:85%;
}
.subbut{
  width:13%;
}


aside{
  text-align:center;
  .online{
    border-bottom:1px solid black;

  }
}
.activeUsers{
  margin-top:5px;
  font-size:1.2em;
}

.signIn {
  border-radius: 20px;
  background-color: #f9f2E6;
  height: 200px;
  width: 400px;
  margin: 15% auto;
  padding-top: 30px;
}
.signInSubmit {
  margin-left: 41%;
}
//
.username, .avatar, .submit {
  display: block;
  margin: 2% auto;
  padding: 2%;}

.usermessage {
  background-color: white;
  border-radius: 10px;
}

.offline {
  margin-top: 268px;
}
