.container {
  margin-top: 50px;
  border: 2px solid black; }

.users {
  background-color: yellow;
  min-height: 500px; }

.chatbox {
  background-color: violet;
  min-height: 500px; }
  .chatbox .chatfield {
    min-height: 500px; }

.textbox {
  background-color: black;
  padding: 2px; }

.username {
  background-color: orange; }

.usermessage {
  background-color: pink; }

.userid {
  text-align: center; }

.userImg img {
  max-width: 100%;
  border-radius: 10px; }

.message {
  width: 85%; }

.subbut {
  width: 13%; }
