.container {
  margin-top: 50px;
  border: 2px solid black; }

.users {
  background-color: #ff6562;
  min-height: 500px; }

.chatbox {
  background-color: white;
  min-height: 500px; }

.textbox {
  height: 20px; }

.username {
  background-color: orange;
  min-height: 500px; }

.usermessage {
  background-color: pink;
  min-height: 500px; }
